@import "../js/bootstrap-4.2.1/scss/functions";
@import "helpers/variables";
@import "../js/bootstrap-4.2.1/scss/mixins";
@import "../js/bootstrap-4.2.1/scss/bootstrap";
body{
    overflow: hidden;
}
.vh-100{
    height: 100vh;
}
.main-vh{
    height: calc(100vh - 60px);
}
a{
    cursor: pointer;
    &.disabled{
        cursor: unset;
    }
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #fff;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 30px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #666;
  }
.position-center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.form-control{
    border: none;
    border-bottom: 1px solid $gray-400;
    height: 50px;
    padding: 0.375rem 0;
    &:focus{
        outline: none;
        box-shadow: none;
        
    }
    &:focus + label,&:valid + label{
        margin-top: -20px;
    }
}
.custom-select{
    border: 1px solid $gray-400;
    border-radius: 0;
    height: 70px;
    padding: 0.375rem 1.25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(../images/select-icon.svg);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: right 1.25rem center;
}
.form-group{
    position: relative;
    margin-bottom: 2.5rem;
    label{
        position: absolute;
        top: 0;
        left: 0;
        color: #666;
        transition: all 0.3s ease;
    }
    
}
.btn-pink-gradient{
    background: rgb(228,110,138);
    background: linear-gradient(90deg, rgba(228,110,138,1) 0%, rgba(254,214,184,1) 100%);
    color: $white;
    padding: 1.3rem 0.375rem;
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease;
    &:hover,&:focus{
        background: linear-gradient(90deg, rgba(228,110,138,1) 0%, rgba(228,110,138,1) 100%);
        color: $white;
    }
}
.big{
    font-size: 1.375rem;
    font-weight: 500;
}
.small{
    font-size: 0.9rem;
}
.total,.num{
    font-size: 1.75rem;
    font-weight: 500;
}
.login{
    &__content{
        width: 70%;
    }
    &__copyright{
        position: absolute;
        bottom: 5%;
        left: 0;
        font-size: 13px;
        width: 100%;
        text-align: center;
    }
    @include media-breakpoint-down(xl) {
        &__content{
            width: 75%;
        }
        &__copyright{
            bottom: 3%;
        }
    }
}
.form-check-label{
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-left: 1.8rem;
    .form-check-input{
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    .checkmark {
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -10px;
        height: 20px;
        width: 20px;
        border-radius: 100%;
        background-color: #E5EFFF;
    }
    .form-check-input:checked ~ .checkmark {
        background-color: $secondary;
        &:after{
            content: "\f00c";
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            color: $white;
            position: absolute;
            left: 50%;
            top: 55%;
            font-size: 12px;
            transform: translate(-50%,-50%);
        }
    }
}
.linkBox{
    position: relative;
    width: 100%;
    overflow-x: scroll;
    .twoLink{
        height: 120px;
    }
    .link{
        display: inline-block;
        width: 155px;
        padding: 0 8px 0 0;
    }
    .btn{
        font-size: 1rem!important;
        width: 100%;
        background: #F6F6FA;
        padding: 0.7rem 1rem;
        &.active,&:hover{
            background: $gray-200;
            color: $secondary;
            border: 1px solid $secondary;
        }
    }
}
header{
    font-size: 1.375rem;
    padding: 13.5px 0;
    position: relative;
    .menu-link{
        position: absolute;
        left: 0;
        top: 0;
        line-height: 60px;
        padding: 0 20px;
    }
    .logout{
        position: absolute;
        right: 20px;
        top: 0;
        line-height: 60px;
        img{
            margin-top: -3px;
        }
    }
}
.dropblack{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($black,.45);
    display: none;
    z-index: 50;
    &.show{
        display: block;
    }
}
.menu{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 300px;
    background: $white;
    z-index: 100;
    margin-left: -300px;
    transition: all 0.3s ease;
    &.active{
        margin-left: 0;
    }
    .menu-link{
        cursor: pointer;
        .img{
            position: relative;
            width: 60px;
            height: 60px;
            border: 1px solid $secondary;
            border-radius: 100%;
            margin: 0 auto;
            line-height: 60px;
            background: $white;
            .checkmark{
                position: absolute;
                bottom: 0;
                right: -5px;
                height: 20px;
                width: 20px;
                border-radius: 100%;
                background-color: $secondary;
                opacity: 0;
                &:after{
                    content: "\f00c";
                    font-family: 'Font Awesome 5 Free';
                    font-weight: 900;
                    color: $white;
                    position: absolute;
                    left: 50%;
                    top: 55%;
                    font-size: 12px;
                    transform: translate(-50%,-50%);
                }
            }
        }
        &.active,&:hover{
            background: #F2F7FF;
        }
        &.active{
            .img .checkmark{
                opacity: 1;
            }
        }
    }
}
.numBox{
    margin: 0 -5px;
    div[class*="col"]{
        padding: 0 5px 10px 5px;
    }
    .num{
        height: 70px;
        line-height: 70px;
        border-radius: 3px;
        cursor: pointer;
        &:hover{
            background: #E5EFFF;
            border-color: #E5EFFF!important;
        }
        &.text{
            font-size: 18px;
            letter-spacing: 2px;
        }
    }
}
.modal{
    .modal-header{
        display: block;
        position: relative;
        .close{
            position: absolute;
            right: 16px;
            top: 13px;
            font-size: 2rem;
        }
        a.back{
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 65px;
            line-height: 65px;
            text-align: center;
            font-size: 2rem;
        }
    }
    .modal-body{
        width: 590px;
        margin: 0 auto;
        .form-control{
            width: 290px;
            text-align: center;
            color: $secondary;
            font-size: 2rem;
            font-weight: 500;
            height: 70px;
            border-radius: 3px;
            border: 2px solid #dee2e6;
            &:focus{
                border: 2px solid #52B2FF;
                box-shadow: 0 0 10px rgba(82,178,255,.5);
            }
        }
    }
    
    .member{
        label.input-label{
            color: #666;
            min-width: 90px;
        }
        .form-control{
            height: 40px;
            padding: 10px 0;
            font-size: 22px;
        }
        .edit-icon{
            position: absolute;
            right: 0;
            bottom: 10px;
            color: #aaa;
        }
        &.linkBox{
            width: 665px;
            margin: 0 auto;
        }
    }
}
.shop{
    &__content{
        &__info{
            &__member{
                position: absolute;
                left: 20px;
                top: 50%;
                transform: translateY(-50%);
                .name,.back{
                    position: relative;
                    &:after{
                        content: "";
                        position: absolute;
                        right: 0;
                        top: 50%;
                        width: 2px;
                        height: 14px;
                        background: $gray-600;
                        margin-top: -7px;
                    }
                }
                .back{
                    color: $black;
                }
                .edit{
                    font-size: 14px;
                    background-color: #F2F7FF;
                }
            }
            .num{
                display: inline-block;
                width: 30px;
                height: 30px;
                font-size: 18px;
                line-height: 30px;
                font-weight: bold;
                vertical-align: top;
                margin-top: -5px;
            }
            &__button{
                position: absolute;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
                .add{
                    font-size: 3rem;
                    display: inline-block;
                    width: 50px;
                    height: 50px;
                    line-height: 43px;
                    text-align: center;
                    background: #F2F7FF;
                }
                .arrow{
                    a{
                        width: 80px;
                        display: inline-block;
                        text-align: center;
                        float: left;
                        font-size: $font-size-lg;
                        height: 50px;
                        line-height: 50px;
                        &.arrow-left{
                            border-right: 0!important;
                        }
                        &.disabled{
                            color: $gray-400;
                        }
                    }
                }
            }
        }
        &__cart{
            &__title{
                font-size: $font-size-sm;
            }
            &__item{
                height: calc(100vh - 23.3rem);
                overflow-y: scroll;
                &.pay{
                    height: calc(100vh - 14.3rem);
                }
                .Img{
                    min-width: 80px;
                    height: 80px;
                    background: $white;
                }
                small{
                    font-size: $font-size-sm;
                }
                .money small{
                    text-decoration: line-through;
                }
                .num span{
                    width: 35px;
                    text-align: center;
                    margin: 0 10px;
                }
                .num a{
                    font-weight: 100;
                    width: 24px;
                    height: 24px;
                    border-radius: 100%;
                    display: inline-block;
                    border: 1px solid $secondary;
                    color: $secondary;
                    line-height: 18px;
                    text-align: center;
                    &.disabled{
                        border: 1px solid $gray-600;
                        color: $gray-600;
                        &:hover{
                            color: $gray-600;
                            background: $white;
                        }
                    }
                    &:hover{
                        color: $white;
                        background: $secondary;
                    }
                }
            }
            &__bottom{
                .totalBox{
                    border-radius: 5px;
                    cursor: pointer;
                    &:hover{
                        background: rgba($secondary,.9)!important;
                    }
                    .total{
                        font-size: 2rem;
                    }
                }
            }
        }
        &__search{
            padding-top: 0.85rem;
            padding-bottom: 0.85rem;
            .input-search{
                width: calc(100% - 70px);
                .barcode{
                    position: absolute;
                    left: 20px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            .form-control{
                border-radius: 30px;
                padding-left: 60px;
                &-search{
                    position: absolute;
                    left: 1.25rem;
                    top: 0.85rem;
                    width: 0;
                    padding-left: 20px;
                    transition: all 0.3s ease;
                    display: none;
                    &.show{
                        display: block;
                        width: calc(100% - 100px);
                    }
                    
                }
            }
            .search{
                font-size: 1.5rem;
                display: inline-block;
                width: 50px;
                height: 50px;
                line-height: 50px;
                text-align: center;
                background: #F2F7FF;
            }
            .close{
                position: absolute;
                right: 1.25rem;
                top: 0.85rem;
                width: 50px;
                height: 50px;
                line-height: 45px;
                text-align: center;
                font-size: 2rem;
                opacity: 1;
                display: none;
                background: $white;
                &:hover{
                    opacity: 1!important;
                }
                &.show{
                    display: block;
                }
            }
        }
        &__company{
            span.border-bottom{
                width: 180px;
                position: relative;
                .edit{
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }
        }
        &__pay{
            .money{
                font-size: 60px;
                font-weight: 500;
            }
            .payment{
                a.active{
                    border-color: $secondary!important;
                    color: $secondary;
                }
            }
        }
        &__bill{
            &.disable{
                .returnMoney{
                    &.noDisable{
                        display: none;
                    }
                    &.disable{
                        display: inline-block;
                    }
                }
                .numBox{
                    .num{
                        color: $gray-300!important;
                        &:hover{
                            background: $white;
                        }
                        &.noDisable{
                            display: none;
                        }
                        &.disable{
                            display: block;
                        }
                    }
                }
            }
            .returnMoney{
                color: #00BC45;
                font-size: 2rem;
                &.disable{
                    display: none;
                }
            }
            .money{
                position: relative;
                &:after{
                    content: "";
                    position: absolute;
                    right: -3px;
                    top: 50%;
                    width: 2px;
                    height: 14px;
                    background: $gray-600;
                    margin-top: -7px;
                }
            }
            .numBox{
                .num{
                    background: $white;
                    height: calc((100vh - 47rem)/4);
                    line-height: calc((100vh - 47rem)/4);
                    &:hover{
                        background: #E5EFFF;
                    }
                    &.noDisable{
                        display: block;
                    }
                    &.disable{
                        display: none;
                    }
                }
            }
        }
        &__item{
            .itemBox{
                height: calc(100vh - 23.65rem);
                overflow-y: scroll;
                .item{
                    font-size: 13px;
                    cursor: pointer;
                    &:hover,&.active{
                        border-color: $secondary!important;
                    }
                    .check{
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        border-radius: 100%;
                        background: $secondary;
                        color: $white;
                        text-align: center;
                        line-height: 20px;
                        position: absolute;
                        right: 20px;
                        top: 10px;
                        opacity: 0;
                    }
                    &.active .check{
                        opacity: 1;
                    }
                    .money{
                        font-size: 14px;
                        .disable{
                            text-decoration: line-through;
                            color: #DBDBDB;
                        }
                    }
                }
            }
            .pageBox{
                .page-item{
                    .page-link{
                        width: 45px;
                        height: 45px;
                        border-radius: 100%;
                        line-height: 45px;
                        text-align: center;
                        padding: 0;
                    }
                    &.active .page-link{
                        border: 1px solid $secondary;
                    }
                    span{
                        line-height: 45px;
                    }
                }
            }
        }
    }
}
.item-modal{
    .link{
        a.active{
            background: $green;
            color: $white;
        }
    }
    .selectBox{
        .num{
            border: 2px solid $secondary;
            color: $secondary;
            border-radius: 0!important;
            &.active{
                border: 2px solid $secondary!important;
                background: $secondary!important;
                color: $white!important;
            }
        }
    }
    .hide{
        display: none;
    }
    .show{
        display: auto;
    }
    .discount{
        position: relative;
        span{
            position: absolute;
            right: 20px;
            top: 0;
            bottom: 0;
            line-height: 70px;
            color: $gray-600;
        }
    }
}
.custom{
    .main-vh{
        height: 100vh;
    }
    &__info{
        font-size: 2rem;
        font-weight: 500;
        small{
            font-size: 22px;
            font-weight: normal;
        }
        .name{
            position: relative;
            &:after{
                content: "";
                position: absolute;
                right: -3px;
                bottom: 5px;
                width: 2px;
                height: 14px;
                background: $gray-600;
            }
        }
    }
    .pay{
        height: calc(100vh - 15rem);
    }
    .shop__content__item{
        .itemBox{
            height: calc(100vh - 27rem);
        }
    }
}
.record{
    &__title{
        a.calender{
            position: absolute;
            right: 1.25rem;
            top: 10px;
            width: 50px;
            height: 50px;
            background: #E5EFFF;
            border-radius: 100%;
            text-align: center;
            line-height: 50px;
        }
    }
    &__content{
        .listBox{
            height: calc(100vh - 12.6rem);
            overflow-y: scroll;
            .list.active{
                background: #F2F7FF;
            }
            .list.disable{
                color: #aaa;
                background: #EEEFF1;
                .tag{
                    background: #DBDBDB;
                }
            }
        }
        .tag{
            background: #21D88F;
            color: $white;
            padding: 5px 15px;
            border-radius: 30px;
        }
    }
    &__bill{
        .content-box{
            width: 85%;
            margin: 0 auto;
        }
        .cart{
            height: calc(100vh - 29.75rem);
        }
        .btn.disable{
            background: #dbdbdb;
            border-color: #dbdbdb;
            cursor: unset;
        }
    }
}
.printModal{
    .content{
        width: 275px;
        margin: 0 auto;
        .label{
            display: inline-block;
            width: 80px;
            text-align: justify;
            text-justify: distribute-all-lines;
            text-align-last: justify;
            margin-right: 10px;
        }
        .total{
            font-size: 40px;
        }
    }
}